
# Sets a nicer name when you bring it up 
# Change to whatever you like or delete
# COMPOSE_PROJECT_NAME=minecraft

#####################
# General
#####################

# Optional server url
SERVER_ADDRESS=

######################
# Data paths 
######################

## Use this to set the parent folder for the config

docker_data_folder=/media/data/docker_configs/

# The minecraft data folder will be placed under the above: 
# "${docker_data_folder}/minecraft/data"


######################
# Permissions
######################

# Set this to run backup services as user of choice
# to find this, try
# id -u $USER
# id -g $USER
# (it's probably 1000)
UID=1000
GID=1000


#####################
# Plugins
#####################

# DiscordSRV
# https://docs.discordsrv.com/installation/initial-setup#paste-the-token-into-configyml
DISCORDSRV_BOT_TOKEN=

# https://docs.discordsrv.com/installation/initial-setup#set-up-a-basic-channel-relay
DISCORDSRV_GLOBAL_CHANNEL_ID=
DISCORDSRV_CONSOLE_CHANNEL_ID=

# Spammy server events, players joining / leaving, restarts
DISCORDSRV_EVENTS_CHANNEL_ID=

